#!/bin/bash

if [ "$1" = "--mount-all" ]; then
	MOUNT=true
else
	if [ "$*" != 2 ]; then
		echo "Usage: $0 [ repotag srcpath restorepath ] | [ --mount-all ]" 2>&1
		exit 1
	fi
	REPOTAG="$1"; shift
	SRCPATH="$1"; shift
	RESTOREPATH="$1"; shift
	# TODO
	exit
fi

mkdir -p /mnt/restore

export BORG_REPO=ssh://19678@ch-s012.rsync.net:22/data2/home/19678/ruby/

export BORG_REMOTE_PATH=borg14
export BORG_RSH="ssh -i /root/.ssh/borgkey"
export BORG_PASSPHRASE='{{ borg_passphrase }}'

set -x
if mountpoint -q /mnt/restore; then
  echo "$0: Already mounted, umount'ing: /mnt/restore" 1>&2
  fusermount -u /mnt/restore
fi
if ! borg mount $BORG_REPO /mnt/restore; then
  echo "$0: Mount failed: /mnt/restore" 1>&2
  exit 1
fi

for HOST in bayonet edison power iec; do
  rm -f "/tmp/latest-$HOST"
  ln -s "$(find /mnt/restore -maxdepth 1 -name "${HOST}*"|sort -rn|head -1)" "/tmp/latest-$HOST"
done

rm /root/ldap-import
ln -s /tmp/latest-power/var/backups/slapd /root/ldap-import

set +x
