#
# This is a sample of a minimal configuration file for Knot DNS.
# For more details, see man 5 knot.conf or refer to the server documentation.
#

server:
    # Listen on all configured IPv4 interfaces.
    listen: 0.0.0.0@53
    # Listen on all configured IPv6 interfaces.
    listen: ::@53
    # User for running the server.
    # user: knot:knot

log:
    # Log info and more serious events to syslog.
  - target: syslog
    any: info

key:
    # Used by Let's Encrypt to update ACME challenges
    # {{ dns_tsig_plugle }}
  - id: plugle
    algorithm: hmac-sha256
    secret: {{ dns_tsig_plugle_short }}

remote:
    # ns1.whiteitsolutions.com.au. (retiring IP)
  - id: ns1-retiring
    address: 45.77.49.133@53

    # ns1.whiteitsolutions.com.au.
  - id: ns1
    address: 203.29.241.26

    # ns4.whiteitsolutions.com.au.
  - id: ns4
    address: 172.104.191.155@53

acl:
  - id: acl_secondary
    address: [45.77.49.133, 203.29.241.26, 172.104.191.155]
    action: transfer

  - id: acme_update_acl
    action: [update, transfer]
    key: plugle

template:
#  - id: default
#    storage: "/var/lib/knot"

zone:
  - domain: plug.linux.org.au
    file: "/etc/knot/plug.org.au.zone"
    notify: [ns1-retiring, ns1, ns4]
    acl: acl_secondary

  - domain: plug.org.au
    file: "/etc/knot/plug.org.au.zone"
    notify: [ns1-retiring, ns1, ns4]
    acl: acl_secondary

  - domain: _acme-challenge.plug.org.au
    file: "/etc/knot/_acme-challenge.plug.org.au.zone"
    acl: acme_update_acl

  - domain: _acme-challenge.po1.plug.org.au
    file: "/etc/knot/_acme-challenge.po1.plug.org.au.zone"
    acl: acme_update_acl
