# See man 5 aliases for format
postmaster:    root
root:	admin

# chair, backup
chair: committee
chairperson: chair
chairman: chair
chairwoman: chair
president: chair
vicechair: committee
vc: vicechair
vp: vicechair
vicepresident: vicechair
secretary: p@delfante.it
membership: secretary
treasurer: committee

logcheck: logcheck@purewhite.id.au
tim: tim@purewhite.id.au

hostmaster: admin
clamav: admin
security: admin

webslave: admin
#web: webslave
webmaster: webslave
webmasters: webslave
www: webslave
www-data: webslave

twitter: committee

committee-spacecubed: committee
tickets: committee
ticket: tickets
