# atmail / the messaging company
ii.net            slow_smtp:
iinet.net.au      slow_smtp:
internode.on.net  slow_smtp:
it.net.au         slow_smtp:
westnet.com.au    slow_smtp:

# Yahoo
yahoo.com         slow_smtp:
yahoo.com.au      slow_smtp:
yahoo.co.uk       slow_smtp:
